<div style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb;">

  <div style="height: 250px;">

    <div><button type="button" class="Polaris-Button" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2" aria-expanded="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">More actions</span><span class="Polaris-Button__Icon">

            <div class="Polaris-Button__DisclosureIcon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">

                  <path d="M5 8l5 5 5-5z" fill-rule="evenodd"></path>

                </svg></span></div>

          </span></span></button></div>

  </div>

</div>

<div class="Polaris-PositionedOverlay Polaris-Popover__PopoverOverlay Polaris-Popover__PopoverOverlay--open" style="top: 44px; left: 11.6667px;">

  <div class="Polaris-Popover" data-polaris-overlay="true">

    <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>

    <div class="Polaris-Popover__Wrapper">

      <div id="Polarispopover2" tabindex="-1" class="Polaris-Popover__Content" style="height: 96px;">

        <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical Polaris-Scrollable--hasBottomShadow Polaris-Scrollable--verticalHasScrolling" data-polaris-scrollable="true">

          <div class="Polaris-ActionList">

            <div class="Polaris-ActionList__Section--withoutTitle">

              <ul class="Polaris-ActionList__Actions">

                <li><button type="button" class="Polaris-ActionList__Item">

                    <div class="Polaris-ActionList__Content">Import file</div>

                  </button></li>

                <li><button type="button" class="Polaris-ActionList__Item">

                    <div class="Polaris-ActionList__Content">Export file</div>

                  </button></li>

              </ul>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>

  </div>

</div>